<div class="sidenav">

  <div *ngIf="data">
    <div class="add-data">
      <span>{{optionsContainerTitle}}</span>
      <mat-icon (click)="rowClicked.emit(addNewOption)">add_box</mat-icon>
    </div>

    <cdk-virtual-scroll-viewport itemSize="50" class="sidenav-options">
      <div *cdkVirtualFor="let item of data" class="sidenav-option" (click)="rowClicked.emit(item)" tabindex="1">
        {{item.lookUpLabel}}
      </div>
    </cdk-virtual-scroll-viewport>

    <button class="back-btn mat-raised-button" (click)="backToAllForms()">Back to All Forms</button>
  </div>
</div>
