.sidenav {
  width: 220px;
  transition: all 0.3s;
  z-index: 9999;
  box-shadow: 23px 0 5px -15px rgba(0, 0, 0, 0.75);

  .search-input {
    position: relative;

    input {
      height: 36px;
      width: 220px;
      padding-left: 30px;
    }

    .search-icon {
      position: absolute;
      display: block;
      top: 5px;
      left: 0;
      color: black;
    }

  }

  .sidenav-options {
    font-size: 16px;
    height: 500px;
    margin-top: 10px;
    width: 220px;

    .sidenav-option {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding-left: 10px;
      border-radius: 4px;
      border: 1px solid;
      background-color: #fedf01;
      color: #434343;

      &:hover {
        background-color: #434343;
        color: #fedf01;
      }
    }
  }

  .add-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;

    span {
      font-size: 24px;
    }

    mat-icon {
      cursor: pointer;
      background-color: #434343;
      color: #fedf01;
    }
  }

  .back-btn {
    background-color: #fedf01;
    color: #434343;
    margin: 40px 0 0 22px;
    height: 40px;
    width: 170px;
  }
}
